@import "tailwindcss";

@theme {
  --color-oled-black: #050505;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Geist Mono", "GeistMono", ui-monospace, SFMono-Regular, "Roboto Mono", Menlo, Monaco, "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-oled-black text-[#E0E0E0] antialiased;
  }
}
